<header class="main-header">
    <nav class="navbar">
        <a href="index.html" class="nav-logo-link">
            <img src="image/logo.png" alt="Portofolio Logo" class="nav-logo-image"/>
        </a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact Me</a></li>
        </ul>
    </nav>
</header>